<a href="https://colab.research.google.com/github/akshathav25/Innomatics-research-lab/blob/main/Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sentence = input("Enter sentence: ")

words = sentence.split()

unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'python', 'powerful', 'and', 'easy', 'is'}

In [ ]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_employee = max(employees, key=employees.get)

print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Highest Salary: Ravi - 75000

In [ ]:
numbers = [45, 22, 89, 10, 66]

max_value = numbers[0]
min_value = numbers[0]

for num in numbers:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("List:", numbers)
print("Max:", max_value)
print("Min:", min_value)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

In [ ]:
prices = [450, 1200, 899, 1500, 300]
count = 0
for price in prices:
  if price > 1000:
    count += 1

print("Products above 1000:", count)

Products above 1000: 2

In [ ]:
attendance = ["P", "P", "A", "P", "P"]
present = 0

for day in attendance:
  if day == "P":
    present += 1
percentage = (present / len(attendance)) * 100

print("Attendance percentage:", percentage)

Attendance percentage: 80.0

In [ ]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

In [8]:
word = "python"

freq = {}
for char in word:
  if char in freq:
    freq[char] += 1
  else:
    freq[char] = 1
print(freq)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [9]:
numbers = [10, 20, 30]

numbers_tuple = tuple(numbers)

print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

In [10]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
key = "Anita"
if key in employees:
  print("Employee exists")
else:
  print("Employee does not exist")

Employee exists

In [11]:
marks = [70, 75, 80, 65]

total = 0

for mark in marks:
    total += mark

average = total / len(marks)

print("Average Marks:", average)

Average Marks: 72.5